<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head> 

<nav class="navbar navbar-expand-sm navbar-light"style="    background: white;">
        <div class="container">
            <a class="navbar-brand" href="index.html"> Helpme</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/legal   " class="nav-link"><span data-hover="Legal">Legal</span></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="Sobre" id="sobreDropdown" role="button" 
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hover="Sobre">
                          <span data-hover="Sobre"></span>Sobre
                      </a> 
                      <div class="dropdown-menu" aria-labelledby="sobreDropdown">
                        <a href="#Missão" class="nav-link" style="color: rgba(0,0,0,.5);"><span data-hover="Missão">
                                Missão</span></a>
                        <a href="#Visão" class="nav-link" style="color: rgba(0,0,0,.5);" ><span data-hover="Missão">
                                Visão</span></a>
                        <a href="#Valores" class="nav-link" style="color: rgba(0,0,0,.5);" data-hover="Valores">
                            <span data-hover="Valores">Valores</span></a>
                      </div>
                    </li>
                    <li class="nav-item">
                        <a href="#Projetos" class="nav-link"><span data-hover="Projetos">Projetos</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#Resumo" class="nav-link"><span data-hover="Resumo">Resumo</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#Contato" class="nav-link"><span data-hover="Contato">Contato</span></a>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <a href="/login" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Fazer Login</a>
                          <a href="/cadastrar" class="btn custom-btn custom-btn-bg custom-btn-link">Cadastrar-se</a>
                      </div>
                    </div>
                </ul>

                 
            </div>
        </div>
    </nav>