

<style type="text/css">
@media (max-width: 700px) {
.some{
  display: none;
}
.lado{
  padding: 0;margin: 0; width: 100% !important;
}
</style>

  
  
  <div class="container position-sticky z-index-sticky top-0" >
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav style="display: none;" class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html">
              Emiele
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="../pages/dashboard.html">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="../pages/profile.html">
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Caracteristicas
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="../pages/sign-up.html">
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Cadastrar
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="../pages/sign-in.html" >
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    Entrar
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/product/soft-ui-dashboard" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">Contato</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0" style="height: 100%;">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto lado"  style="padding: 0;margin: 0; width: 50%;">
              <div class="card card-plain mt-0">
                <div class="card-header pb-0 text-left bg-transparent" style="padding-top: 0;">
                  <h3 class="font-weight-bolder text-info text-gradient" style="background-image: linear-gradient(310deg, #cc2945, red); ">Editor de Produtos</h3>
                  <p class="mb-0">Edite as informações</p>
                </div>
                <div class="card-body">
                  <form role="form" >
                    <label>Nome Produto</label>
                    <div class="mb-3">
                      <input [(ngModel)]="newProduct.codigo" id="codigo" 
              name="codigo"  maxlength="30"

                      type="text" class="form-control" placeholder="" aria-label="Password" aria-describedby="password-addon">
                    </div>
                     <label>Descrição</label>
                    <div class="mb-3">
                      <textarea [(ngModel)]="descricao" id="descricao" rows="5" 
              name="descricao" 

                      type="email" class="form-control" placeholder="" aria-label="Password" maxlength="300" aria-describedby="password-addon"></textarea>
                    </div>
                     
                    <label class="w-50" >Preço</label>
                                        <label>Quantidade</label>
                    <div class="w-100 mb-3" style="display: flex;
    align-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;">

                      <input maxlength="10" [(ngModel)]="newProduct.quantidade" id="quantidade" 
              name="quantidade" 

                      type="text" class="form-control w-50" placeholder="" aria-label="Password" aria-describedby="password-addon" style="margin-right: 0%;">

                      <input maxlength="10" [(ngModel)]="preco" id="preco" (keyup)="format()"
              name="preco" 

                      type="text" class="form-control w-40" placeholder="" aria-label="Password" aria-describedby="password-addon" style="    padding: 0 0 0 32px;
    margin-right: 10%;
    background-image: url(https://static.thenounproject.com/png/101791-200.png);
    background-position: 6px 7px;
    background-repeat: no-repeat;
    background-size: 20px;">

                    </div>
                    
                    
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe" checked>
                      <label class="form-check-label" for="rememberMe">Disponivel</label>
                    </div>
                   
                    
                    
                  </form>
                </div>
                
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto lado" style="padding: 0;margin: 0; width: 45%;">
              <div class="card card-plain mt-3" style="padding-top: 1.5rem;">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient" style="background-image: linear-gradient(310deg, #cc2945, red);"></h3>
                  <p class="mb-0"></p>
                  
                </div>
                <div class="card-body">
                  <form role="form" >
                    <label class="w-50" >Upload Imagens</label>
                                        <label></label>
                    <div class="mb-3">    
                    <span>Tamanho Limite Arquivo: 1MB</span>          
                      <ngx-dropzone (change)="selectFile($event)">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>

          <div class="position-relative" *ngFor="let b of imagnes" style="width: 30%; margin: 2%; display: inline-flex !important;">
                      <a class="d-block shadow-xl border-radius-xl">
                        <img style="object-fit: cover !important; width: 100% !important;height: 100px !important;"  
                        [src]='SafeUrl(b.data)' 
                        alt="img" class="img-fluid shadow border-radius-xl">
                        <span (click)="excluiImagem(b.id)" style="position: absolute;
    top: 0;
    right: 17%;
    padding: 0px 7px;
    border-radius: 50%;
    background: linear-gradient(310deg, #cc2945, red);
    color: white; cursor: pointer;">X</span>
                      </a>
                      
                    </div>


                    </div>
                    <div class="mb-3" style="display:none;">

    <button mat-raised-button color="primary" class="w-50 btn btn-secondary" (click)="upload()" style="margin-left: 50%;">Upload</button>
  </div>
  <label class="w-50" >Tipo</label>
                                        <label>Unidade</label>
                    <div class="w-100 mb-3" style="display: flex;
    align-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;">
                      <select maxlength="10" [(ngModel)]="newProduct.unidade"  id="unidade" 
              name="unidade" 

                      type="text" class="form-control w-50" placeholder="" aria-label="Password" aria-describedby="password-addon" style="margin-right: 0%;">
  <option value="CX">CX</option>
  <option value="UN">UN</option>
  <option value="KG">KG</option>
  <option value="Lt">Lt</option>
  <option value="TON">TON</option>
  <option value="DUZIA">DUZIA</option>
  <option value="1000Un">1000Un</option>
  <option value="QUILAT">QUILAT</option>
  <option value="METRO">METRO</option>
  <option value="M3">M3</option>
  <option value="PARES">PARES</option>
  <option value="M2">M2</option>
         
</select>
                      <select maxlength="10" [(ngModel)]="newProduct.tipo"  id="Tipo" 
              name="Tipo" 

                      type="text" class="form-control w-40" placeholder="" aria-label="Password" aria-describedby="password-addon" style="margin-right: 10%;">
  <option selected value="Sem tipo">Sem tipo</option>
  <option value="Hamburguer">Hamburguer</option>
  <option value="Sushi">Sushi</option>
  <option value="Pizza">Pizza</option>
  <option value="Bolo">Bolo</option>
    <option value="Sorvete">Sorvete</option>
      <option value="Bebida">Bebida</option>
        <option value="Pasteis">Pasteis</option>
        <option value="Lanche">Lanche</option>
        <option value="Massa">Massa</option>
        <option value="Refeição">Refeição</option>
        <option value="Higiene e limpeza do lar">Higiene e limpeza do lar</option>
        <option value="Higiene e limpeza pessoal">Higiene e limpeza pessoal</option>
        <option value="Perfumaria">Perfumaria</option>
        <option value="Utilidades dom&#xe9;sticas">Utilidades dom&#xe9;sticas</option>
        <option value="Campo e lazer">Campo e lazer</option>
        <option value="Padaria">Padaria</option>
        <option value="A&#xe7;ougue">A&#xe7;ougue</option>
        <option value="Enlatados">Enlatados</option>
        <option value="Doces">Doces</option>
        <option value="Massas e biscoitos">Massas e biscoitos</option>
        <option value="Cereais">Cereais</option>
        <option value="Outros">Outros</option>
         
</select>

                    </div>
  <div class="text-center" >
                      <button  type="button" (click)="SaveProduct()" class="btn bg-gradient-info w-100 mt-4 mb-0" style="background-image: linear-gradient(310deg, #336, green);" >Salvar Produto</button>
                    </div>
                    <div class="text-center">
                      <button  type="button" (click)="ExcluiProduct()"class="btn bg-gradient-info w-40 mt-4 mb-0" style="margin-right: 5%; background-image: linear-gradient(310deg, #cc2945, red);" >Excluir</button>
                      <button  type="button" (click)="Cancela()" class="btn bg-gradient-info w-45 mt-4 mb-0" style="margin-right: 0%;background-image: linear-gradient(310deg, #cc2945, blue);" >Cancelar</button>
                    </div>
  <div  class="mb-3" style="display: none;">
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="!showProgress">No Upload in Progress!</mat-card-title>
        <mat-card-title *ngIf="showProgress" style="display: none;">Files</mat-card-title>
        <mat-card-subtitle *ngFor="let uploadedFile of uploadedFiles" style="display: none;">
          <mat-icon>insert_drive_file</mat-icon>
          {{uploadedFile.name}} - {{uploadedFile.progress}}%
          <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}"></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  
  <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <!--   Core JS Files   -->
  
  
 <app-footer></app-footer>


<br><br><br>
<div style="display: none;" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <span *ngIf="selectedFiles !== undefined">{{selectedFiles.length}} file(s) selected</span>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <input #fileInput type="file" (change)="selectFile($event)" style="display:none;" ngModel multiple/>
          <mat-form-field class="example-full-width" (click)="fileInput.click()">
            <input matInput placeholder="Choose Multiple Files"
                   value="{{fileInput.value.substr(fileInput.value.lastIndexOf('\\')+1)}}">
            <mat-icon matSuffix>folder_open</mat-icon>
          </mat-form-field>
          &nbsp;
          <button mat-raised-button color="primary" (click)="upload()">Upload</button>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxFlex="100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="!showProgress">No Upload in Progress!</mat-card-title>
        <mat-card-title *ngIf="showProgress">Files</mat-card-title>
        <mat-card-subtitle *ngFor="let uploadedFile of uploadedFiles">
          <mat-icon>insert_drive_file</mat-icon>
          {{uploadedFile.name}} - {{uploadedFile.progress}}%
          <mat-progress-bar mode="determinate" value="{{uploadedFile.progress}}"></mat-progress-bar>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>